*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build outputs
*.apk
*.aar
*.aab
apk/
/app/release
/app/build
/thirdparty-demo/build

# Keep dependency libraries under app/libs
!app/libs/*.aar
!app/libs/*.jar

# Archives
*.rar
*.zip
*.7z
